<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dao.UserMapper">
    <update id="modifyUserInfoDetails">
        update userdetails
        <set>
            <if test='message!=null'>message=#{message},</if>
            <if test='sex!=null'>sex=#{sex},</if>
        </set>
        where username=#{username}
    </update>
    <update id="modifyUserScoreDetails">
        update userscore
        <set>
            <if test='wins!=0'>wins=#{wins},</if>
            <if test='sessions!=0'>sessions=#{sessions},</if>
        </set>
        where username=#{username}
    </update>
</mapper>